@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Satisfy&display=swap');

:root {
    --primary: #C75766;
    --accent: #C2D770;
    --link: #993341;
    --linkActive: #5C1F27;
    --linkVisited: #CE8147;
}

.navbar-brand {
    font-family: 'Satisfy', display;
    font-size: 28px;
    color: var(--primary);
}


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Comfortaa", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Satisfy", display;
    color: var (--primary);
    align-items: center;
}

p{
    font-family: "Comfortaa", sans-serif;
    text-align: center;
}

header {
    width: 100%;
    height: 500px;
    background-image: url('../images/guacamole.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 5px lightgray;
}

header h1 {
    color: white;
    font-size: 100px;
    margin: 0;
    text-shadow: 2px 2px 4px black;
}

.section-title {
    color: var(--primary);
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.separator {
    width: 100px;
    height: 4px;
    background-color: var(--accent);
    margin: 0 auto;
}

a {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
font-size: 24px;
    color: var(--link);
}

a:active {
    color: var(--linkActive);
}

a:visited {
    color: var(--linkVisited);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-hover:hover {
    cursor: pointer;
    border: 3px solid var(--link);
  }

.card text-bg-dark {
    font-size: 20px;
    text-align: center;
}  

.accordion{
    align-items: center;
}

.accordion-item .accordion-button {
    background-color: var(--primary);
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    color: white;
}

.accordion-item .accordion-button:not(.collapsed) {
    background-color: var(--accent);
    color: black;
    }

.btn btn-primary{
    background-color: var(--link);
    color: white;
}    