

.card{
    box-shadow: 0 0.5rem 1rem rgba(80, 67, 71, 0.902);
}

.immagine{
    border-radius: 50%;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Roboto&display=swap');


.pizza h2{
    
  font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    text-align: center;
    color: #9e1f14;
    text-shadow: 5px 5px 7px #1e181772;
    
}

.nomepizza h1 {
    font-family: 'Pacifico', cursive;
    color:rgb(103, 112, 121);
    text-shadow: 5px 5px 3px rgb(18, 18, 17);
    font-size: px;
    
}

.nomepizza h4{
    font-family: 'Pacifico', cursive;
    color:rgb(216, 221, 225);
}




 h3, h4 {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    color: #006c6a;
    text-shadow: 5px 5px 7px #1e18177b;
}

.ingredienti {
    text-align: center;
}

.ricetta{
    text-align: center;
}

ol {
    list-style-type: none;
}
footer{
    
    background-color: rgba(250, 235, 215, 0);
    width: 90%; 
    margin: 0 auto;
}

ul {
    list-style-type: none;
  }

.recensione{
  background-color: #aa1308;
  text-align: center;
  
  width: 90%; 
  margin: 0 auto;
}  


.recensione h1{
    color:aliceblue;
}
.recensione p{
    color: aliceblue;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(231, 216, 216);
    padding: 0 8px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 2px 2px 5px lightgray;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin: 8px;
    
}

nav h4{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}



.container2 {
    position: relative;
    text-align: center;
   
  }


  .container2 h1 {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    color: rgb(198, 206, 214);
    font-family: 'Pacifico', cursive;
    text-shadow:5px 5px 5px rgb(11, 10, 10);
  }

  .navbar{
    z-index: 10;
  }

  .navbar h4{
    color: rgb(71, 58, 58);
    font-size: 20px;
  }

  .provajs{
    text-align: center;
  }

  .provajs li{
    color: #A6261B;
  }

  .piattiDelGiorno h4{
    text-align: center;
  }

  a{
    color: #9e1f14;
  }


  
  
   
  @media screen and (maxwidth: 600px) {
  div.ciao {
  font-size: 100px;
  }
  }

  

  

  
 






